/*************************/
/********* header ********/
/*************************/
header{
    height: 100svh;
}
section.hero{
    height: calc(100svh - 78px);
}
header{
    background: url(../imgs/header_bg.png) top right no-repeat;
    background-size: contain;
}
@media (max-width: 1000px) {
    header{
        background: none;
    }
}
@media (min-width: 1300px) {
    header{
        background-size: auto;
    }
}
/*************************/
/********* hero **********/
/*************************/
section.hero .container .row .images{
    position: relative;
}
section.hero .container .row .images img{
    background-repeat: no-repeat;
    background-size: cover;
}
/*************************/
/********* about ********/
/*************************/
section.about .container .row .img{
    background: url(../imgs/slip.png) top right no-repeat;
    padding: 25px 30px 0px 0;
    background-size: 40%;
}
section.about .container .row .img{
    position: relative; 
}
section.about .container .row .img .circle{
    position: absolute;
    bottom: 80%;
    right: 76%;
    width: 196px;
    height: 196px;
    border-radius: 148px;
    background-color:transparent;
    border: 22px solid #0fbf61;
}
/*************************/
/********* progress ******/
/*************************/
section.rating .container .row .progress-bars{
    width: 250px;
    height: 250px;
    position: relative;
    border: 2px solid #0fbf61;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 7px 20px rgba(22, 22, 22, 0.699);
}
section.rating .container .row .progress-bars::before{
    content: "";
    position: absolute;
    width: 230px;
    height: 230px;
    background-color: #ffffff;
    border-radius: 50%;
}
section.rating .container .row .progress-bars .value{
    position: relative;
}
/*************************/
/********* services ******/
/*************************/
section.services .container .row{
    background: url(../imgs/slip.png) bottom right no-repeat;
    padding: 0px 40px 30px 0;
    background-size: 20%;
}
section.services .container .row .post .thumbnail img{
    border: 2px solid #0fbf61;
    border-radius: 50%;
    padding: 6px;
}
section.services .container .row .post .btn{
    background-color: #0fbf61;
    color: white;
}
section.services .container .row .post .btn:hover{
    background-color: white;
    color: black;
}
section.services .container .row .post{
    width: 340px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgba(65, 61, 61, 0.781);
    padding: 30px 20px;
    margin: 20px 0;
}
section.services .container .row .post h2{
    color: #0fbf61;
}
section.services .container .row .post h2:hover{
    color: white;
}
section.services .container .row .post:hover,
section.services .container .row .post .thumbnail img:hover{
    background-color: #0fbf61;
    color: white;
    border: 2px solid #fff;
}
/*************************/
/********* review ********/
/************************/
.red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .carousel-indicators .active {
    position: absolute;
    top: 12% !important;
    width: 53px;
    height: 53px;
    background: #222;
  }
  
  .carousel-control {
    position: relative;
    width: 53px;
    height: 53px;
    font-size: 30px !important;
    font-weight: 100;
    line-height: 44px !important;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  
  /* --------- END --------- */
  
  .carousel {
    height: 245px;
    min-width: 70px;
    max-width: 70px;
    text-align: center;
  }
  
  /*For top Indicator*/
  
  .carousel-indicators-top {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-rightight: -19px;
  }
  
  .carousel-indicators-top li {
    background: #333333;
  }
  
  .carousel-indicators-top .active {
    background: #333333;
  }
  
  /* vertical start*/
  
  .vertical .carousel-inner {
    /*height: 74%;*/
    padding-top: 0px;
  }
  
  .carousel.vertical .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
  }
  
  .carousel.vertical .active {
    top: 0;
  }
  
  .carousel.vertical .next {
    top: 100%;
  }
  
  .carousel.vertical .prev {
    top: -100%;
  }
  
  .carousel.vertical .next.left,
  .carousel.vertical .prev.right {
    top: 0;
  }
  
  .carousel.vertical .active.left {
    top: -100%;
  }
  
  .carousel.vertical .active.right {
    top: 100%;
  }
  
  .carousel.vertical .item {
    left: 0;
  }
  
  /*Overwriten Bootstrap Classis*/
  
  .small-thumbnail {
    display: block;
    width: 50px;
    padding: 4px;
    margin-bottom: 1px;
    line-height: 1.428571429;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .small-thumbnail img {
    max-width: 100%;
    width: 50px;
  }
  
  .custom-carousel-inner {
    overflow: hidden;
    position: relative;
    width: 53px !important;
    height: 158px;
  }
  
  .single-container {
    width: 245px;
    min-height: 245px;
    max-height: 245px;
  }
  
  .single-container img {
    margin-top: 3px;
    height: 240px;
    max-height: 240px;
    width: 240px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  } 
/* section.review{
    background: url(../imgs/slip.png) top left no-repeat;
    background-size: 15%;
}
section.review .container .post{
    width: 80%;
    height: 390px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgba(65, 61, 61, 0.781);
    background-color: #ffffff;
} */
/* ************************/
/******** portfolio ******/
/************************/
.portfolio .container .navbar ul li{
    list-style: none;
    color: #747d8c;
    padding: 5px;
    transition: 0.2s linear;
    cursor: pointer;
}
.portfolio .container .navbar ul li:hover{
    color: #2f3542;
    border-bottom: 2px solid #2f3542;
    font-weight: bold;
}
.portfolio .container .portfolio_gallery{
    flex-flow: row wrap;
    gap: 30px;
}
.portfolio .container .portfolio_gallery .item{
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 12px;
}
.portfolio .container .portfolio_gallery .item img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    transition: 0.5s linear;
}
.portfolio .container .portfolio_gallery .item img:hover{
    transform: scale(1.1);
}
.portfolio .container .portfolio_gallery .item .overlay{
    width: 100%;
    height: 100%;
}
.portfolio .container .portfolio_gallery .item .overlay{
    display: none !important;
}
.portfolio .container .portfolio_gallery .item:hover .overlay{
    display: flex !important;
    width: 100%;
    height: 100%;
}
.portfolio .container .portfolio_gallery .item:hover .overlay .btn{
    z-index: 999;
}
/* ************************/
/********* contact *******/
/************************/
.blog .container .row img{
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
}
.blog .container .row img:hover{
    transform: scale(1.1);
}
/* ************************/
/********* contact *******/
/************************/
section.contact{
    background: url(../imgs/slip.png) bottom right no-repeat;
    background-size: 15%;
}
section.contact .container .row input{
    height: 70px;
    width: 90%;
    border: 1px solid black;
    border-radius: 6px;
    margin: 15px 0;
    font-size: large;
    padding: 0px 15px;
}
section.contact .container .message textarea{
    height: 180px;
    width: 95%;
    border: 1px solid black;
    border-radius: 6px;
    margin: 15px 0;
    font-size: large;
    padding: 5px 10px;
}
/* ************************/
/********* footer ********/
/************************/